/* * {
    cursor: unset;
}

a {
    cursor: pointer;
} */

html {
    scroll-snap-type: none;
}

header {
    height: 90px;
    padding: 0 15em;
    display: flex;
}

body {
    position: initial;
    margin: 0;
}

canvas {
    display: block;
    vertical-align: bottom;
}

h1 {
    letter-spacing: initial;
    font-size: 5rem;
    text-transform: none;
}

h2 {
    text-transform: none;
    font-size: 4rem;
    letter-spacing: initial;
    margin-bottom: 2rem;
    font-weight: 600;
}

h3 {
    text-transform: none;
    letter-spacing: 0;
    font-size: 2rem;
}

/* nav {
    width: 100%;
    background-color: none;
    padding-left: 30px;
    padding-right: 10px;
}

.logo {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
}

.nav-item a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
}

.nav-item:hover {
    color: #35E8C6;
}

.nav-item:hover a {
color: #35E8C6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
} */

header {
    /* position: static;
    margin-top: 6vh; */
    height: 0;
}


.nav-item:hover {
    color: #35E8C6;
}

.nav-item:hover a {
    color: #35E8C6;
}

section {
	margin: 0;
	padding: 0 15em;
	width: 100vw;
	max-width: 100%;
	height: auto;
	color: white;
	display: block;
}

div {
    margin-top: 5rem;
    margin-bottom: 9rem;
}

.project-main {
    text-align: center;
}

.project-name {
    color: #35E8C6;
    margin-top: 15rem;
}

.project-sub {
    font-size: 2rem;
    color: white;
    text-transform: none;
    letter-spacing: initial;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.project-main img {
    display: block;
    width: 100%;
    margin: auto;
    padding: inherit;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 10em;
}

.cursor, .cursor-outline, .particles-js {
    margin: 0;
}