html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #2E1C33;
  position: relative;
}

body, html {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ---- reset ---- */
/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #241229;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.36);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

section {
  margin: 0;
  margin-bottom: 20rem;
  padding: 0;
  padding: 0 15em;
  width: 100vw;
  max-width: 100%;
  /* height: 100vh; */
  scroll-snap-align: start;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  font-size: 1.5em;
  letter-spacing: 0.05em;
  line-height: 1.8;
  color: #F4CEFF;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3em;
  font-size: 4em;
  line-height: 1.5;
  margin-bottom: 0.3em;
  margin-top: 0;
}

h2, h3 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.4em;
  font-size: 1.2em;
  color: #35E8C6;
}

h3 {
  color: white;
}

h4 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.4em;
	font-size: 6em;
	margin: 1em 0;
	padding: 0;
}

section p:last-of-type {
  margin-bottom: 0;
}

header {
	width: 100%;
	background-color: none;
	position: absolute;
	padding: 0 15em;
	left: 0;
	right: 0;
	bottom: 0;
	top: 6vh;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 1rem;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

header ul {
	height: 1rem;
}

.brand {
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 1.5rem;
	-webkit-transition: color .2s linear;
	transition: color .2s linear;
}

.brand:hover {
  color: #35E8C6;
}

.nav-links {
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 0 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

/* .nav-item a:last-of-type {
	padding-right: 0;
} */

.nav-item a:hover {
  color: #35E8C6;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-inner h1 {
  margin-top: 0;
}

.hero-bot {
  display: none;
}

.social-links, .nav-bar {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: inherit;
  margin: 0;
  position: absolute;
  right: 0;
  padding-left: 0;
}

.download-resume {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 15vh;
  right: 8vw;
  padding: inherit;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
}

.download-resume a {
  color: rgba(255, 255, 255, 0.5);
}

.download-resume a:hover {
  color: #35E8C6;
}

.download-resume i {
  margin-left: 0.3em;
  font-size: 1.2em;
}

.social-links i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.3em;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.social-links :not(:last-child) {
  margin-bottom: 2.5em;
}

.social-links i:hover, .social-links i:focus, .social-links i:active {
  color: #35E8C6;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hero {
	height: 100vh;
}

.hero .underline {
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: background 0.45s cubic-bezier(0.33, 0.66, 0.66, 1), color 0.5s;
  transition: background 0.45s cubic-bezier(0.33, 0.66, 0.66, 1), color 0.5s;
  border-bottom: 3px solid #35E8C6;
  -webkit-box-shadow: inset 0 -3px 0 #35E8C6;
          box-shadow: inset 0 -3px 0 #35E8C6;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.hero .underline:hover {
  background-color: #35E8C6;
  color: #2E1C33;
}

.hero h2 {
  font-family: 'Playfair-Display', 'Times', serif;
  text-transform: none;
  font-style: italic;
  font-weight: 500;
  font-size: 2em;
  margin: 0;
  letter-spacing: normal;
  color: white;
}

.btn-pill {
  text-decoration: none;
  color: #17473E;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  display: inline-block;
  background-color: #35E8C6;
  border-radius: 100em;
  width: 220px;
  text-align: center;
  letter-spacing: 0.1em;
  border: 2px solid #35E8C6;
  margin-top: 4em;
  -webkit-transition: background-color 2s linear, color .2s linear;
  -webkit-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
}

.btn-pill:hover, .btn-alt:active, .btn-alt:focus {
  background-color: #004E51;
  color: white;
}

.btn-main:hover, .btn-main:active, .btn-main:focus {
  background-color: #0A9F86;
  border: 2px solid #0A9F86;
}

.btn:focus, .btn:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-alt {
  border: 2px solid #FF5869;
  background: none;
  color: #FF5869;
}

.btn-alt:hover, .btn-alt:active, .btn-alt:focus {
  background-color: #FF5869;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero .btn-alt {
  margin-left: 2em;
}

.hero .btn-main {
  display: inline-block;
  margin-right: 0.9em;
}

.hero-inner a i {
  font-size: 1.5em;
  vertical-align: middle;
  /* padding-bottom: 3px; */
  padding-left: 8px;
}

.about-me-text {
  overflow: auto;
}

.about-me-text img {
  border-radius: 50%;
  max-width: 30%;
  height: auto;
  float: right;
  margin-left: 3em;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.about-me-text img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

#about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-underline {
  text-decoration: none;
  -webkit-box-shadow: inset 0 -0.4em 0 rgba(53, 232, 198, 0.75);
          box-shadow: inset 0 -0.4em 0 rgba(53, 232, 198, 0.75);
  color: inherit;
}

.col-sm {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

.col-md {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
}

.work-experience-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.work-experience.rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.work-experience-rows h3:last-of-type {
  margin-bottom: 0;
}

.work-experience-text, .work-experience-rows {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

#work-experience .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  margin-bottom: 2em;
}

#work-experience .col-sm {
  margin-left: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#work-experience .col-sm h2 {
  margin-left: auto;
}

#work-experience .row:last-of-type {
  margin-bottom: 0;
}

.underline2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.underline2:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #FF5869;
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.underline2:hover:before, .underline2:focus:before, .underline2:active:before {
  right: 0;
}

#projects {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-ms-flex-item-align: center;
		align-self: center;
}

.projects-inner {
  width: 100%;
}

.row-projects {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	text-align: center;
}

/* .row-projects:first-of-type {
  padding-left: 0;
}

.row-projects:last-of-type {
  padding-right: 0;
} */

.col-projects {
	-webkit-box-flex: 50%;
		-ms-flex: 50%;
			flex: 50%;
	max-width: 50%;
	padding: 0;
}
/* 
.col-projects:first-of-type {
	padding-left: 0;
	margin-left: 0;
}

.col-projects:last-of-type {
	padding-right: 0;
} */

figure {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.col-projects img {
	vertical-align: middle;
	width: 100%;
}

.col-projects figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.col-projects figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.row-projects h4:first-of-type {
    margin-bottom: 5rem;
}

.project-subhead {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-transform: initial;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1100px) {
    .col-projects {
      flex: 100%;
      max-width: 100%;
    }

    .project-subhead, .row-projects h4:first-of-type {
        margin-bottom: 3rem;
    }
  }

#contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

#contact a {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#contact a:hover, #contact a:focus, #contact a:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

#wave {
  height: 0.8em;
  -webkit-animation: waveAnim 1.5s linear infinite;
  animation: waveAnim 1.5s linear infinite;
}

@-webkit-keyframes waveAnim {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes waveAnim {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

footer {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
}

footer p {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 9%;
  text-align: center;
  font-size: 1em;
}

footer p i {
  color: #35E8C6;
  margin: 0 0.3em;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

footer p i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer p i:focus, footer p i:active, footer p i:visited {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.heart-active {
  color: #FF5869;
}

footer .social-links {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  bottom: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 6%;
}

footer .social-links :not(:last-child) {
  margin: 0;
  margin-right: 2.5em;
}

@media only screen and (max-width: 568px) {
  .hero a, .btn-main, .hero .btn-alt {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  html, body {
    height: 100%;
    width: 100%;
  }
  section {
    max-width: 100%;
    padding: 0 2em;
    margin: 0;
    margin-bottom: 8rem;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 0.8em;
  }
  h2, h3 {
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }
  .hero h2 {
    font-size: 1.3em;
  }
  .download-resume {
    display: none;
  }
  p {
    display: block;
    font-size: 0.9rem;
  }
  section p:last-of-type {
    margin-bottom: 0;
  }
  .hero a, .hero .btn-alt, .hero .btn-main {
    padding: 0 0;
    margin-right: 0.9em;
    margin-left: 0.9em;
  }
  .btn-pill {
    margin-top: 2.6em;
  }
  .hero .btn-alt {
    margin-top: 1em;
  }
  .col-sm {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .col-md {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  #about-me img {
    padding: 0;
    margin: 0 0 0.5em 0;
    float: none;
  }
  #work-experience {
    text-align: inherit;
  }
  #work-experience .row {
    margin-bottom: 2rem;
  }
  #work-experience h2 {
    margin: 0;
  }
  #work-experience h3 {
    margin-top: 0.5em;
  }
  #work-experience .col-sm {
    margin-left: 0;
  }
  .hero .social-links {
      display: none;
  }

    footer {
        margin-top: 5rem;
    }

    footer .social-links {
        margin-bottom: 25%;
    }

  footer .social-links :not(:last-child) {
    margin: 0;
    margin-right: 1.5em;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  h1 {
    font-size: 3em;
  }
  .hero h2 {
    font-size: 1.7em;
  }
  h2, h3 {
    font-size: 1em;
    letter-spacing: 0.2em;
  }
  p {
    font-size: 1rem;
  }
  section {
    padding: 0 4em;
  }
  .hero .social-links {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  .hero .hero-inner br:first-of-type {
    display: none;
  }
  header {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hero-bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    left: 0;
    right: 0;
    padding-bottom: 2%;
    opacity: 0.2;
  }

  .hero-bot h3 {
    font-size: 0.6rem;
    line-height: 1.3rem;
  }

  @-webkit-keyframes scroll-ani {
    0% {
      opacity: 1;
      top: 29%;
    }
    15% {
      opacity: 1;
      top: 40%;
    }
    50% {
      opacity: 0;
      top: 40%;
    }
    100% {
      opacity: 0;
      top: 29%;
    }
  }
  @keyframes scroll-ani {
    0% {
      opacity: 1;
      top: 29%;
    }
    15% {
      opacity: 1;
      top: 40%;
    }
    50% {
      opacity: 0;
      top: 40%;
    }
    100% {
      opacity: 0;
      top: 29%;
    }
  }
  .mouse-scroll {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7F8C8D;
    color: #FFF;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
  }
  .mouse-scroll .mouse {
    position: relative;
    display: block;
    width: 28px;
    height: 43px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #FFF;
    border-radius: 23px;
  }
  .mouse-scroll .mouse .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: scroll-ani 4s linear infinite;
    animation: scroll-ani 4s linear infinite;
  }
}

@-moz-document url-prefix() {
  * {
    cursor: none;
  }
  .cursor {
    width: 10px;
    height: 10px;
    background-color: #35E8C6;
    border-radius: 50%;
    position: absolute;
    z-index: 300;
  }
  .cursor, .cursor-outline {
    pointer-events: none;
  }
  .cursor-outline {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    opacity: .3;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    z-index: 290;
  }
  .cursor-outline-hover {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.3);
    border: 1px solid white !important;
    opacity: 1;
  }
  .cursor-hover {
    background-color: white;
  }
  .cursor-click {
    background: #FF5869;
    animation: cursor-clickAnim .6s forwards;
  }
  @keyframes cursor-clickAnim {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.8);
    }
  }
  .hero-bot h3 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */